*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "Josefin"; */
  }
  .header{
    width: 100%;
    line-height: 100px;
    background-color: #52aac5;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 8px;
    color:white;
    box-shadow: 5px 3px 15px -5px rgba(0,0,0,0);
  
  
  }
  h1{
    color:#151c23;
  }
  .main_note{
    width: 500px;
      /* box-shadow: 10px 10px 5px rgb(215, 227, 232); */
        box-shadow: 0 2px 5px rgb(57, 185, 197);
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
  }
  .my_notes h1{
    color: #34495e;
  }
  .my_notes p{
    color: grey;
  }
  form{
    min-height: 50px;
    color:#ecf0f1;
    padding: 15px 10px 5px 10px;
    box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    position: relative;
  }
  input{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
  }
  textarea{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .MuiButton-root{
    width: 40px;
    height:60px; 
   position:absolute;
    top: 25px;
    /* bottom: -10;  */
     left: 440px; 
    cursor: pointer; 
    background-color: rgb(93, 176, 202) !important; 
    box-shadow: 5px 5px 15px -5px rgba(151, 233, 242, 0); 
     border-radius: 50% !important;
  
  }
  
  
  .MuiButton-root .plus_sign{
    font-size: 45px !important;
    font-weight: 900;
    color: #edbb24;
    cursor: pointer;
    z-index: 222;
    background:transparent;
  }
  .MuiButton-root:hover{
    background: #e2dfdf;
  } 
  
  .MuiButton-root:hover .plus_sign{
    color:rgb(251, 251, 251);
    background: transparent;
  }
  .note{
    /* background: rgb(219, 227, 219); */
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(57, 185, 197);
      /* box-shadow: 10px 10px 5px lightblue; */
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left ;
  }
  .note h1{
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .close{
      width: 60px;
        height: 60px;
        position: absolute;
        top: 170px;
        /* bottom: -10;  */
        left: 360px;
        cursor: pointer;
        background-color: rgb(93, 176, 202) !important;
        box-shadow: 5px 5px 15px -5px rgba(151, 233, 242, 0);
        border-radius: 50% !important;
  }
  .note .btn{
    position: relative;
    float:right;
    margin-right: 10px;
    color:#2a2926;
    border: none;
    width: 55px;
    height: 55px;
    background :transparent;
    cursor: pointer;
    outline: none;
    /* box-shadow: 3px 3px 15px -10px rgba(200, 186, 186, 0);
    box-shadow: 10px 10px 5px rgb(230, 230, 230); */
      box-shadow: 0 2px 5px rgb(161, 212, 180);
    border-radius: 50%;
  }
  .deleteIcon{
    width: 0.7em;
    height: 0.7em;
  }
  .note .btn:hover
  {
    background-color: #f5ba13;
      box-shadow: 0 2px 5px rgb(215, 226, 227);
  }
  
  .note .btn:hover .deleteIcon{
    color:#fff;
  }
  
  footer{
  
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    
  }